<<<<<<< HEAD
body {
  background-color: #fff;
  color: #333;
  margin: 0;
  font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.logo {
  font-size: 200%;
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 980px;
}

.grid {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 980px;
}

nav {
  background-color: #000;
  padding: .5em;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: .5em 1em;
}

.photos {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
}

.feature {
  width: 200px;
  float: left;
  margin-right: 20px;
}

article, aside {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}




@media (max-width: 600px) {
  article, aside {
      width: 100%;
  }
}
=======
body {
  background-color: #fff;
  color: #333;
  margin: 0;
  font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.logo {
  font-size: 200%;
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 980px;
}

.grid {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 980px;
}

nav {
  background-color: #000;
  padding: .5em;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: .5em 1em;
}

.photos {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
}

.feature {
  width: 200px;
  float: left;
  margin-right: 20px;
}

article, aside {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}




@media (max-width: 600px) {
  article, aside {
      width: 100%;
  }
}
>>>>>>> d607ec0992e6e7c6555a127967ebd6f0f64e5789
