<<<<<<< HEAD
html {
  font-family: sans-serif;
}

/* Your CSS below here */

div {
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: 17px;
  background-color: red;
  color: white ;
  text-shadow: 1px 1px 0px black;
  border-radius: 10px;
  border: 1px solid #1e6aa8; 
  box-shadow: 0px 3px 5px black (0, 0, 0, 0.3);
  box-shadow: inset 3px 3px 10px rgba(255, 255, 255, 0.5),inset -3px -3px 10px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.2)); 
  background-repeat: no-repeat;
  

} 
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0; /* Base color for the design */
=======
html {
  font-family: sans-serif;
}

/* Your CSS below here */

div {
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: 17px;
  background-color: red;
  color: white ;
  text-shadow: 1px 1px 0px black;
  border-radius: 10px;
  border: 1px solid #1e6aa8; 
  box-shadow: 0px 3px 5px black (0, 0, 0, 0.3);
  box-shadow: inset 3px 3px 10px rgba(255, 255, 255, 0.5),inset -3px -3px 10px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.2)); 
  background-repeat: no-repeat;
  

} 
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0; /* Base color for the design */
>>>>>>> d607ec0992e6e7c6555a127967ebd6f0f64e5789
}